<div id="<%= dom_id personal %>">
  <p>
    <strong>First name:</strong>
    <%= personal.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= personal.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= personal.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= personal.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= personal.twitter %>
  </p>

</div>
